textarea{
    min-width: 40vw;
    min-height: 60vh;
    margin-top: 40px;
    display: block;
}

textarea:focus{
    outline: none;
}

/* tbody td:last-child{
    display: none;
} */

button{
    margin-top: 5px;
    min-width: 40.4vw;
    padding: 10px;
}